@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto+Mono:wght@300&display=swap');

body {
  font-family: 'Roboto Mono', monospace, 'Fredoka', sans-serif;
}

#background {
  background-image: url(/imgs/mountain-lake.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

#header-left {
  display: flex;
  width: 50vw;
  height: 10vh;
  align-items: center;
}

#header-title-first {
  padding-left: 4%;
  font-size: 2.5em;
  font-weight: bolder;
  color: #f3ac4c;
}

#header-title-second {
  font-size: 2.5em;
  font-weight: bolder;
  color: #438ccc;
}

#header-icon {
  display: flex;
  width: 4em;
  height: 4em;
  padding-left: 4%;
}

#header-right {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  padding-right: 4%;
  align-items: center;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 1.25em;
  background: url(svgs/search.svg) center / contain no-repeat;
  filter: invert(79%) sepia(72%) saturate(913%) hue-rotate(323deg) brightness(101%) contrast(91%);
}

#search-bar-input {
  width: 12vw;
  height: 3.25vh;
  font-size: 1.5em;
  padding-left: 15%;
  color: #438ccc;
}

#app {
  display: flex;
  width: 100vw;
  height: 90vh;
}

#app-top {
  display: flex;
  height: 50vh;
  width: 100vw;
}

#app-top-left {
  display: flex;
  width: 50vw;
  height: 50vh;
}

#location-information {
  display: flex;
  width: 50vw;
  height: 50vh;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#city-name {
  font-size: 3em;
  font-weight: bolder;
  background-color: rgb(240, 242, 240, 0.7);
  margin: 0;
  margin-top: 10%;
  width: 40vw;
  padding: 2%;
}

#weather-description {
  font-size: 2.5em;
  font-weight: bolder;
  background-color: rgb(240, 242, 240, 0.7);
  margin: 0;
  width: 40vw;
  padding: 2%;
}

#weather-temperature {
  font-size: 3em;
  font-weight: bolder;
  background-color: rgb(240, 242, 240, 0.7);
  margin: 0;
  width: 40vw;
  padding: 2%;
}

#app-top-right {

}

#location-extra-information {

}

#app-bottom {

}

#forecast-hourly {

}

#forecast-daily {

}