@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto+Mono:wght@300&display=swap');

body {
  font-family: 'Roboto Mono', monospace, 'Fredoka', sans-serif;
}

#background {
  background-image: url(/imgs/mountain-lake.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

#header-left {
  display: flex;
  width: 50vw;
  height: 10vh;
  align-items: center;
}

#header-title-first {
  padding-left: 4%;
  font-size: 2.5em;
  font-weight: bolder;
  color: #f3ac4c;
}

#header-title-second {
  font-size: 2.5em;
  font-weight: bolder;
  color: #438ccc;
}

#header-icon {
  display: flex;
  width: 4em;
  height: 4em;
  padding-left: 4%;
}

#header-right {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  padding-right: 4%;
  align-items: center;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 1.5em;
  background: url(svgs/search.svg) center / contain no-repeat;
  filter: invert(79%) sepia(72%) saturate(913%) hue-rotate(323deg) brightness(101%) contrast(91%);
}

#search-bar-input {
  width: 15vw;
  height: 5vh;
  font-size: 1.5em;
  padding-left: 15%;
  color: #438ccc;
}

#app {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-flow: column nowrap;

}

#app-top {
  display: flex;
  height: 50vh;
  width: 100vw;
}

#app-top-left {
  display: flex;
  width: 45vw;
  height: 50vh;
}

#location-information {
  display: flex;
  width: 45vw;
  height: 40vh;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

#city-container, #weather-description-container, #weather-temperature-container, #todays-date-container, #todays-time-container {
  display: flex;
  width: 45vw;
  height: 5vh;
  align-items: center;
  background-color: rgb(240, 242, 240, 0.9);
  margin: 0;
  width: 40vw;
  padding: 2%;
}

#city-svg, #weather-description-svg, #weather-temperature-svg, #todays-date-svg, #todays-time-svg {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  filter: invert(79%) sepia(72%) saturate(913%) hue-rotate(323deg) brightness(101%) contrast(91%);
  padding-right: 5%;
}

#city-name, #weather-temperature, #todays-time, #weather-description, #todays-date {
  font-size: 2em;
  font-weight: bolder;
  color: #f3ac4c;
}

#app-top-right {
  display: flex;
  width: 45vw;
  height: 50vh;
}

#location-extra-information {
  display: flex;
  width: 45vw;
  height: 40vh;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-left: 16.5%;
}

#weather-feels-like-container, #weather-humidity-container, #weather-min-container, #weather-max-container, #wind-speed-container {
  display: flex;
  width: 45vw;
  height: 5vh;
  align-items: center;
  background-color: rgb(240, 242, 240, 0.9);
  margin: 0;
  padding: 2%;
}

#weather-feels-like-svg, #weather-humidity-svg, #weather-min-svg, #weather-max-svg, #wind-speed-svg {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  filter: invert(54%) sepia(34%) saturate(861%) hue-rotate(166deg) brightness(88%) contrast(88%);
  padding-right: 5%;
}

#weather-feels-like, #weather-humidity, #weather-min, #weather-max, #wind-speed {
  font-size: 2em;
  font-weight: bolder;
  color: #438ccc;
}

#app-bottom {
  display:flex;
  width: 100vw;
  height: 50vh;
  flex-flow: column nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#forecast-switcher {
  display: flex;
  width: 10vw;
  height: 3.5vh;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}

#daily-forecast-button, #hourly-forecast-button {
  width: 5vw;
  height: 3.5vh;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 10%;
  margin-left: 3%;
}

.daily-forecast-button-off, .hourly-forecast-button-off {
  background-color: rgb(240, 242, 240, 0.9);
}

.daily-forecast-button-on {
  background-color: #f3ac4c;
  border: 1px solid rgb(240, 242, 240, 0.9);;
  color: rgb(240, 242, 240, 0.8);;
}

.hourly-forecast-button-on {
  background-color: #438ccc;
  color: rgb(240, 242, 240, 0.8);;
  border: 1px solid rgb(240, 242, 240, 0.9);;
}

#hourly-forecast-button {
  color: #438ccc;
}

.forecast-hourly-off {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  margin: 0;
}

.forecast-daily-off {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  margin: 0;
}

.forecast-hourly-on {
  visibility: visible;
  display: flex;
  width: 100vw;
  height: 36.5vh;
}

.forecast-daily-on {
  visibility: visible;
  display: flex;
  width: 100vw;
  height: 36.5vh;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.next-daily-forecast-open {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 18vw;
  height: 30vh;
  font-size: 0.8em;
  background-color: rgb(240, 242, 240, 0.9);
  margin: 0.5%;
}

.forecast-daily-open {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 18vw;
  height: 5vh;
}

.forecast-daily-item-open {
  margin: 0;
  margin-left: 5%;
  color: #438ccc;
  font-weight: bolder;
}

#next-daily-forecast-date-svg, #next-daily-forecast-time-svg, #next-daily-forecast-temp-svg, #next-daily-forecast-humidity-svg, #next-daily-forecast-weather-type-svg, #next-daily-forecast-wind-svg {
  filter: invert(79%) sepia(72%) saturate(913%) hue-rotate(323deg) brightness(101%) contrast(91%);
}